<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="microstrain_device" params="device name:=microstrain_link parent *origin">
    <material name="microstrain_${device}_material">
      <color rgba="1 1 1 1" />
    </material>

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://microstrain_inertial_driver/meshes/microstrain_${device}.dae" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="microstrain_${device}_material"/>
      </visual>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}" />
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>