<?xml version="1.1"?>

<!-- Standalone example launch file to launch a node that interfaces with a CV7-INS -->
<launch>

  <!-- Specify our custom params file to the microstrin launch file -->
  <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch">
    <arg name="namespace" value="/" />
    <arg name="params_file" value="$(find microstrain_inertial_examples)/config/cv7_ins/cv7_ins.yml" />
  </include>

  <!-- Publish mock information from a fake sensor to the CV7-INS -->
  <node pkg="rostopic" type="rostopic" name="ext_llh_position_pub" args="pub /ext/llh_position sensor_msgs/NavSatFix --rate=1 --file='$(find microstrain_inertial_examples)/config/cv7_ins/ext_llh_position.yml'" />
  <node pkg="rostopic" type="rostopic" name="ext_velocity_enu_pub" args="pub /ext/velocity_enu geometry_msgs/TwistWithCovarianceStamped --rate=1 --file='$(find microstrain_inertial_examples)/config/cv7_ins/ext_velocity_enu.yml'" />

  <!-- Publish a static transform for where the our fake sensor is mounted on base_link. -->
  <!-- You should replace this with actual transforms for where your aiding sensors are -->
  <node 
    pkg="tf"
    type="static_transform_publisher"
    name="base_link_fake_sensor_static_transform"
    output="screen"
    args="
      0 0 0 0 0 0 base_link fake_sensor 1000
    " />

  <!-- Publish a static transform for where the CV7-INS is mounted on base_link. -->
  <!-- Unless the CV7-INS is mounted exactly at base_link, you should change this to be accurate to your setup -->
  <node 
    pkg="tf"
    type="static_transform_publisher"
    name="base_link_cv7_ins_link_static_transform"
    output="screen"
    args="
      0 0 0 0 0 0 base_link cv7_ins_link 1000
    " />

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find microstrain_inertial_examples)/config/cv7_ins/display.rviz" />
</launch>