<?xml version="1.1"?>

<!-- Standalone example launch file to launch the CV7-INS with aiding measurements from a Ublox ZED F9P -->
<launch>
  <!-- Specify our custom params file to the microstrin launch file -->
  <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch">
    <arg name="params_file" value="$(find microstrain_inertial_examples)/config/cv7_ins_f9p/cv7_ins.yml" />
  </include>

  <!-- Start the ublox node with topics remapped so it can talk to the CV7-INS -->
  <node pkg="ublox_gps" type="ublox_gps" name="ublox_f9p" output="screen">
    <remap from="/ublox_f9p/fix" to="/ext/llh_position" />
    <remap from="/ublox_f9p/fix_velocity" to="/ext/velocity_enu" />

    <rosparam command="load" file="$(find microstrain_inertial_examples)/config/cv7_ins_f9p/f9p.yml" />
  </node>

  <!-- Publish a static transform for where the F9P is mounted on base_link. -->
  <node 
    pkg="tf"
    type="static_transform_publisher"
    name="cv7_f9p_static_transform"
    output="screen"
    args="0 0 0 0 0 0 1 base_link f9p_link 1000" />

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find microstrain_inertial_examples)/config/cv7_ins_f9p/display.rviz" />
</launch>